<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <% if(typeof css !== 'undefined') {%>
        <link rel="stylesheet" href="css/<%= css %>.css">
    <% } %>
</head>
<body>
 <div class="headerdiv">
    <div class="da div1">
        DAILY JOURNEL
    </div>
    <div class="da div2">
        <a href="/">HOME</a>
    </div>
    <div class="da div3">
       <a href="/About">ABOUT US</a>
    </div>
    <div class="da div4">
       <a href="/Contact">CONTACT US</a>
    </div>
 </div>